* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.team {
  text-align: center;
  /* height: 500px; */
  padding-top: 100px;
  padding-bottom: 100px;

  font-family: Avenir-Heavy;
  font-size: 36px;
  color: rgba(0,93,171,1);

}

.ask {
  text-align: center;
  /* height: 500px; */
  padding-top: 100px;
  padding-bottom: 100px;

  font-family: Avenir-Heavy;
  font-size: 36px;
  color: rgba(0,93,171,1);

}

.team-logo img {
  max-height: 200px;
  margin: 30px;
}

.section {
  min-height: 500px;
}

ul {
  margin-left: 30px;
  font-size: 14px;
}

ol {
  margin-left: 30px;
}

ol a {
  margin-left: 30px;
  color: rgba(35,31,32,1);
}

.why-intro {
  color: #FFFFFF;
  background:
  /* top, transparent red, faked with gradient */
  linear-gradient(to right,
    rgba(0,93,171,1),
    /* rgba(0,93,171,0.9), */
    /* rgba(0,93,171,0.7), */
    rgba(0,93,171,0.4)),
  /* bottom, image */
    url(bw-soccer-goal.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.why-1 {
  color: #FFFFFF;
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(35,31,32,1),
      /* rgba(35,31,32,0.9), */
      /* rgba(35,31,32,0.7), */
      rgba(35,31,32,0.4)),
  /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.why-2 {
  color: rgba(35,31,32,1);
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(255,255,255,1),
      /* rgba(255,255,255,0.9), */
      /* rgba(255,255,255,0.7), */
      rgba(255,255,255,0.4)),
  /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.why-3 {
  color: #FFFFFF;
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(0,93,171,1),
      /* rgba(0,93,171,0.9), */
      /* rgba(0,93,171,0.7), */
      rgba(0,93,171,0.4)),
    /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.who-intro {
  color: #FFFFFF;
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(35,31,32,1),
      /* rgba(35,31,32,0.9), */
      /* rgba(35,31,32,0.7), */
      rgba(35,31,32,0.4)),
  /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.who-intro ol a {
  margin-left: 30px;
  color: rgba(255,255,255,1);
}

#selfless {
  color: rgba(35,31,32,1);
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(255,255,255,1),
      /* rgba(255,255,255,0.9), */
      /* rgba(255,255,255,0.7), */
      rgba(255,255,255,0.4)),
  /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hw {
  color: #FFFFFF;
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(0,93,171,1),
      /* rgba(0,93,171,0.9), */
      /* rgba(0,93,171,0.7), */
      rgba(0,93,171,0.4)),
    /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#perseverant {
  color: #FFFFFF;
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(35,31,32,1),
      /* rgba(35,31,32,0.9), */
      /* rgba(35,31,32,0.7), */
      rgba(35,31,32,0.4)),
  /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#teachable {
  color: rgba(35,31,32,1);
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(255,255,255,1),
      /* rgba(255,255,255,0.9), */
      /* rgba(255,255,255,0.7), */
      rgba(255,255,255,0.4)),
  /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#fit {
  color: #FFFFFF;
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(0,93,171,1),
      /* rgba(0,93,171,0.9), */
      /* rgba(0,93,171,0.7), */
      rgba(0,93,171,0.4)),
    /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#talented {
  color: #FFFFFF;
  background:
  /* top, transparent red, faked with gradient */
    linear-gradient(to right,
      rgba(35,31,32,1),
      /* rgba(35,31,32,0.9), */
      /* rgba(35,31,32,0.7), */
      rgba(35,31,32,0.4)),
  /* bottom, image */
    url(bw-soccer-field.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.content {
  padding: 60px;
  font-family: Avenir;
  font-size: 18px;
}

.emphasis {
  font-family: Avenir-Heavy;
  font-size: 36px;
}

.text-area {
  width: 55%;
}

.text-area p {
  margin-bottom: 30px;
}




/* form starting stylings ------------------------------- */

.input-area {
  margin-top: 80px;
  font-family: Avenir-Heavy;
  font-size: 24px;
}

.group 			  {
  display: inline-block;
  position:relative;
  margin-bottom:45px;
  width: 50%;
}
input 				{
  font-size:24px;
  padding:10px 10px 10px 5px;
  display:inline;
  width:100%;
  border:none;
  border-bottom:1px solid rgba(255,255,255,0.6);
  background: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color: rgba(255,255,255,0.6);
  font-size:24px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#FFFFFF;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#FFFFFF;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#FFFFFF; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#FFFFFF; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#FFFFFF; }
  to 	{ width:0; background:transparent; }
}

button {
  display: inline;
  margin-top: 60px;
  margin-left: 60px;
  font-family: Avenir-Heavy;
  font-size: 24px;
  padding:10px 10px 10px 5px;
  color: #FFFFFF;
  width: 300px;
  /* height: 90px; */
  background: rgba(0,93,171,1);
  border: none;
  outline: none;
}

@media all and (max-width: 768px) {
  .text-area {
    width: 100%;
  }

  .group 			  {
    display: block;
    position:relative;
    margin-bottom:45px;
    width: 100%;
  }

  button {
    display: block;
    margin-left: 0px;
    font-family: Avenir-Heavy;
    font-size: 24px;
    padding:10px 10px 10px 5px;
    color: #FFFFFF;
    width: 100%;
    /* height: 90px; */
    border: none;
    outline: none;
  }
}

.footer {
  font-family: Avenir;
  font-size: 18px;
  padding-top: 8px;
  height: 50px;
  margin-top: 100px;
  margin-left: 60px;
  text-align: left;
  /* color: rgba(255,255,255,1); */
  color: rgba(255,255,255,0.6);
  /* color: rgba(0,93,171,1); */
  /* background: #FFC72E; */
}

.footer.dark {
  color: rgba(35,31,32,0.6);
}


.footer a {
  /* color: rgba(255,255,255,1); */
  color: rgba(255,255,255,0.6);
  /* color: rgba(0,93,171,1); */
}

.footer a:hover {
  color: #FF3A6C;
}

.footer a:active {
  color: #FF3A6C;
}

.onside-logo-footer {
  font-family: Avenir-Heavy;
}

.ask a {
  text-decoration: none;
}

/* .footer a:visited {
  color: #FF3A6C;
} */
